{{extend '../_layouts/home.html'}}
{{block 'title'}}{{'个人信息'}}{{/block}}
{{block 'body'}}
<section class="container">
    {{include '../_partials/settings-nav.html'}}
    <div class="col-md-5">
        <form id="form-profile" method="post" action="/settings/profile">
            <div class="form-group">
                <label>账号</label>
                <input type="hidden" name="email" value="{{user.email}}">
                <p class="form-control-static">{{user.email}}</p>
            </div>
            <div class="form-group">
                <label for="nickname-forum">昵称</label>
                <input type="text" class="form-control" name="nickname" id="nickname-forum" placeholder="" value="{{user.nickname}}">
            </div>
            <div class="form-group">
                <label for="bio-forum">介绍</label>
                <textarea id="bio-forum" class="form-control" name="bio" rows="3">{{user.bio}}</textarea>
            </div>
            <div class="form-group">
                <label for="gender-forum">性别</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="0" {{ user.gender==0?'checked':''}}> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="1" {{ user.gender==1?'checked':''}}> 女
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="-1" {{ user.gender==-1?'checked':''}}> 保密
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="birth-forum">生日</label>
                <input type="date" class="form-control" value="{{user.birthday}}" name="birthday" id="birth-forum" placeholder="">
            </div>
            <button type="submit" class="btn btn-success">保存</button>
        </form>
    </div>
    <div class="col-md-2 profile-avatar">
        <dl>
            <dt>头像设置</dt>
            <dd>
                <img id="avatar" class="avatar" width="150" height="150" src="/public/img/avatar-default.png" alt="">
                <div style="position: relative;opacity: 0;">
                    <input style="position: absolute;top: -150px;width: 150px;height: 150px" hidden width="150" type="file" onchange="previewFile()" name="" href="">
                </div>
                <button class="btn btn-default">上传头像</button>
            </dd>
        </dl>
    </div>
</section>
<script data-main="/public/js/user.js" src="/public/lib/require.min.js"></script>
{{/block}}